# EECS 510 Project - Most Popular Local Hotel Recommendations - V0.1

Nick Paras | Shikhar Mohan

In [3]:
import csv
from sqlalchemy import create_engine
import psycopg2

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [4]:
#connect to db
engine = create_engine('postgresql+psycopg2://power_user:password@52.39.169.97:5432/expedia')
engine

Engine(postgresql+psycopg2://power_user:***@52.39.169.97:5432/expedia)

In [5]:
pd.read_sql_query("SELECT COUNT(*) FROM train_set;", engine) #2013 data

      count
0  11186881

In [6]:
pd.read_sql_query("SELECT COUNT(*) FROM test_set;", engine) #2014 booking data

     count
0  1976304

We'll start by taking all of the search destinations

In [5]:
dest_cluster = pd.read_sql_query("""SELECT srch_destination_id, is_booking, hotel_cluster
                                    FROM train_set;""", engine)

Next, we count the number of rows and number of bookings for every destination-hotel cluster combination.

In [6]:
dest_count = dest_cluster.groupby(['srch_destination_id',
                         'hotel_cluster'])['is_booking'].agg(['sum','count']).reset_index()

In [7]:
dest_count.head()

   srch_destination_id  hotel_cluster  sum  count
0                    0              3    0      2
1                    1             20    1     10
2                    1             30    0      5
3                    1             57    0      1
4                    1             60    0      6

In [8]:
#Compute the 'relevance' of a hotel cluster with a weighted sum of bookings and clicks.

CLICK = 0.05
dest_count['count'] -= dest_count['sum']

In [9]:
dest_count = dest_count.rename(columns={'sum':'bookings','count':'clicks'})
dest_count['relevance'] = .95*dest_count['bookings'] + CLICK * dest_count['clicks']
dest_count.head()

   srch_destination_id  hotel_cluster  bookings  clicks  relevance
0                    0              3         0       2       0.10
1                    1             20         1       9       1.40
2                    1             30         0       5       0.25
3                    1             57         0       1       0.05
4                    1             60         0       6       0.30

In [10]:
def most_popular(group, n_max=5):
    relevance = group['relevance'].values
    hotel_cluster = group['hotel_cluster'].values
    most_popular = hotel_cluster[np.argsort(relevance)[::-1]][:n_max]
    return np.array_str(most_popular)[1:-1] # remove square brackets

In [11]:
popular = dest_count.groupby(['srch_destination_id']).apply(most_popular)

In [ ]:
labeled_popular = pd.DataFrame(popular).rename(columns={0:'hotel_cluster'})

In [ ]:
test_data = pd.read_sql_query("""SELECT srch_destination_id FROM test_set""", engine)

In [15]:
test_data = test_data.merge(labeled_popular, how='left',left_on='srch_destination_id',right_index=True)

We need to figure out how many new search destinations were added from 2013 to 2014, for these new destinations, we will not have a hotel cluster. As a result, we will fill it with the top 5 clusters (by popularity)

In [1]:
test_data.hotel_cluster.isnull().sum()

NameError: name 'test_data' is not defined

In [17]:
most_popular = dest_count.groupby('hotel_cluster')['relevance'].sum().nlargest(5).index
most_popular = np.array_str(most_popular)[1:-1]
most_popular

'91 48 59 42 18'

In [18]:
test_data.hotel_cluster.fillna(most_popular,inplace=True)
test_data.hotel_cluster.isnull().sum()

In [19]:
prediction_dict = dict(zip(test_data.srch_destination_id, test_data.hotel_cluster))

#srch_destination : hotel cluster

In [25]:
#Append predictions column to test data
def verify(test_data, predictions):
    prediction_col = []
    for row in test_data['srch_destination_id']: 
        pred_array = [-1]*5
        pred_array[:0] = predictions[row].split()
        prediction_col.append(pred_array[:5])
    return prediction_col
        
all_test_data = pd.read_sql_query("""SELECT * FROM test_set""", engine)
prediction_col = verify(all_test_data, prediction_dict)
all_test_data['predictions'] = prediction_col

In [26]:
#MAP@n evaluation function taken from https://github.com/benhamner/Metrics/blob/master/Python/ml_metrics/average_precision.py

def apk(actual, predicted, k=10):
    """
    Computes the average precision at k.
    This function computes the average prescision at k between two lists of
    items.
    Parameters
    ----------
    actual : list
             A list of elements that are to be predicted (order doesn't matter)
    predicted : list
                A list of predicted elements (order does matter)
    k : int, optional
        The maximum number of predicted elements
    Returns
    -------
    score : double
            The average precision at k over the input lists
    """
    if len(predicted)>k:
        predicted = predicted[:k]

    score = 0.0
    num_hits = 0.0

    for i,p in enumerate(predicted):
        if p in actual and p not in predicted[:i]:
            num_hits += 1.0
            score += num_hits / (i+1.0)

    if not actual:
        return 0.0

    return score / min(len(actual), k)

Here we are going to compute the MAP@5 score.

In [27]:
sum_score = 0
for actual, predictions in zip(all_test_data['hotel_cluster'], all_test_data['predictions']):
    predictions = [int(i)for i in predictions]
    sum_score += apk([int(actual)], predictions)
sum_score

605073.2166664756

In [28]:
total_rows = len(all_test_data.index)
map_k = sum_score/total_rows
map_k

0.3061640398777089